PINFORGE_DEBUG=1
PINFORGE_SECRET_KEY=replace-for-non-local-use
PINFORGE_ALLOWED_HOSTS=localhost,127.0.0.1
PINFORGE_DB_NAME=pinforge
PINFORGE_DB_USER=pinforge
PINFORGE_DB_PASSWORD=pinforge-local-only
PINFORGE_DB_HOST=127.0.0.1
PINFORGE_DB_PORT=5432
PINFORGE_PRIVATE_MEDIA_ROOT=/tmp/pinforge-private-media
PINFORGE_STATIC_ROOT=/tmp/pinforge-static
PINFORGE_TOKEN_ENCRYPTION_KEY=
PINFORGE_ETSY_KEYSTRING=
PINFORGE_ETSY_SHARED_SECRET=
PINFORGE_ETSY_REDIRECT_URI=https://localhost/connections/etsy/callback/
PINFORGE_PINTEREST_APP_ID=
PINFORGE_PINTEREST_APP_SECRET=
PINFORGE_PINTEREST_REDIRECT_URI=https://localhost/connections/pinterest/callback/
PINFORGE_PINTEREST_ALLOWED_DESTINATION_HOSTS=etsy.com
